body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.dashboard-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 20px;
}

.dashboard-section {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

button:hover {
    background-color: #218838;
}

.success {
    color: 28a745;
    margin-bottom: 10px;
}

.error {
    color: red;
    margin-bottom: 10px;
}

.logout-section {
    margin-top: 20px;
}

.logout-section a {
    display: inline-block;
    padding: 20px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #dc3545;
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.logout-section a:hover {
    background-color: #c82333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    padding: 8px 12px;
    border: 1px solid #ccc;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

input[type="text"],
input[type="datetime-local"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

input[type="datetime-local"] {
    color: #333;
    background-color: #fff;
    appearance: none;
}