<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>ABOUT</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h2>Enterprise Dashboard</h2>
         
        <form method="GET" action="{{ url_for('dashboardEnterprise') }}">
            {% if sucess %}
                <p class="sucess">{{ sucess }}</p>
            {% endif %}
            <button type="submit">Consultar todos os pontos</button>
        </form>
        <h1>---------------------------------------------------------------------------------</h1>
        <form method="POST" action="{{ url_for('dashboardEnterprise') }}">
            <div class="input-group">
                <label for="id_ponto">Id_ponto:</label>
                <input type="text" id="id_ponto" name="id_ponto" required>
            </div>
            <div class="input-group">
                <label for="hora_inicio">hora_inicio:</label>
                <input type="text" id="hora_inicio" name="hora_inicio" required>
            </div>
            <div class="input-group">
                <label for="hora_final">hora_final:</label>
                <input type="text" id="hora_final" name="hora_final" required>
            </div>
            {% if sucess %}
                <p class="sucess">{{ sucess }}</p>
            {% endif %}
            <button type="submit">Editar ponto por ID</button>
        </form>
        <h1>---------------------------------------------------------------------------------</h1>
        <form method="GET" action="{{ url_for('dashboardEnterprise') }}">
            <div class="input-group">
                <label for="id_ponto">Id_ponto:</label>
                <input type="text" id="id_ponto" name="id_ponto" required>
            </div>
            {% if sucess %}
                <p class="sucess">{{ sucess }}</p>
            {% endif %}
            <button type="submit">Apagar ponto por id</button>
        </form>
        <h1>---------------------------------------------------------------------------------</h1>
        <a href={{ url_for('home') }}>Logout</a>  
    </body>
</html>