<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>ABOUT</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='dashboard_employee.css') }}">
    </head>
    <body>
        <div class="container">
            <h2>Employee Dashboard</h2>
            
            <form method="POST" action="{{ url_for('dashboardEmployee') }}">
                {% if sucess %}
                    <p class="success">{{ sucess }}</p>
                {% endif %}
                <button type="submit" class="button">Clock in</button>
            </form>
            <a href="{{ url_for('home') }}" class="logout-link">Logout</a>  
        </div>
    </body>
</html>
