<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>HOME</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    </head>
    <body>
        <div class="container">
            <h2>KA Portal</h2>
            <a href="{{url_for('loginEmployee')}}" class="button">Employee</a> 
            <a href="{{url_for('loginEnterprise')}}" class="button">Enterprise</a>   
        </div>
    </body>
</html>
